name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'jetbrains'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run Unit Tests
        run: ./gradlew :core:data:testProductionDebugUnitTest :core:database:testProductionDebugUnitTest

  build:
    needs: tests
    if: github.event_name == 'push'
    name: Build Release
    runs-on: ubuntu-latest
    timeout-minutes: 120

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'jetbrains'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Decode Google Services
        env:
          GOOGLE_JSON: ${{ secrets.GOOGLE_SERVICES_FILE }}
        run: echo "$GOOGLE_JSON" > app/google-services.json

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.RELEASE_KEYSTORE_FILE }}
        run: echo $ENCODED_STRING | base64 -d > app/release.jks

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build Release APK
        env:
          RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
          RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        run: ./gradlew assembleProductionRelease

      - name: Upload Release APK
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION="v$(date +'%Y.%m.%d-%H%M')"
          gh release create "$VERSION" \
            app/build/outputs/apk/production/release/*.apk \
            --generate-notes